#contactModalScrollable {
   

    .modal-dialog {
        .modal-content {
            .modal-header {
                h1 {}

                button {
                    i {}
                }
            }

            .modal-body {
                .containerContact {
                    padding: 0px 30px 25px 30px;

                    .row {

                        .careerBox {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            h1 {
                                font-size: 26px;

                                color: #8a8a8a;
                                margin-bottom: 25px;
                                text-align: center;
                            }

                            a {
                                padding: 8px 50px;
                                font-size: 22px;
                                color: white;
                                background-color: #00A7C6;
                            }

                            img {
                                margin-bottom: 30px;
                            }


                        }

                        .contactInfo {

                            h4 {}

                            p {
                                font-weight: normal;

                                i {}
                            }

                            .contactMap {
                                margin-top: 35px;

                                h4 {
                                    font-weight: 500;
                                    font-style: 1.5rem;
                                }

                                iframe {}

                            }
                        }
                    }
                }

            }
        }
    }
}