@{
    ViewData["Title"] = "Create";
}
@model UserManagerCreateViewModel

@{
    DateTime now = DateTime.UtcNow;
}

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Yeni User /</span> Yaratmaq</h4>
        <div class="card">
            <div class="card-body">
                <!-- Admin Layihə   Create Start -->
                <section style="margin-top: 10px;" id="createPoster">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class=" formBox  col-lg-8 col-md-12 col-sm-12 ">

                                <form class="form-control" asp-action="create" asp-controller="UserManager" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <!-- Layihə  Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="UserManagerCreateDto.Username" class="form-label">Username *</label>
                                        <input asp-for="UserManagerCreateDto.Username" maxlength="150" type="text" class="form-control">
                                        <span asp-validation-for="UserManagerCreateDto.Username" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- Layihə  Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="UserManagerCreateDto.Fullname" class="form-label">Ad Soyad*</label>
                                        <input asp-for="UserManagerCreateDto.Fullname" maxlength="150" type="text" class="form-control">
                                        <span asp-validation-for="UserManagerCreateDto.Fullname" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- Layihə  Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="UserManagerCreateDto.Password" class="form-label">Password*</label>
                                        <input autocomplete="off" asp-for="UserManagerCreateDto.Password" maxlength="150" type="text" class="form-control">
                                        <span asp-validation-for="UserManagerCreateDto.Password" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeEn  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="UserManagerCreateDto.IsAdmin" class="form-label"> Admin*</label>
                                        <input class="form-check-input" asp-for="UserManagerCreateDto.IsAdmin" placeholder="...." /> @Html.DisplayNameFor(model => model.UserManagerCreateDto.IsAdmin) *
                                        <span asp-validation-for="UserManagerCreateDto.IsAdmin" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeEn   End -->
                                    <!-- Layihələr  Start -->
                                    <div class="mb-3 highProjects">
                                        <label class="form-label">Role</label>
                                        <span asp-validation-for="UserManagerCreateDto.RoleId" class="text-danger"></span>
                                        <select asp-for="UserManagerCreateDto.RoleId" class="form-select">
                                            <option selected="selected" disabled>Role seçin...</option>

                                            @foreach (var role in Model.Roles)
                                            {
                                                <option value="@role.Id">@role.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <!-- Layihələr   End -->
                                    <!-- Button  Start -->
                                    <div class="row d-flex justify-content-end mb-3">
                                        <div class="col mb-1">
                                            <a style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " asp-action="index" asp-controller="UserManager" class="btn  btn-dark">Geri dön</a>
                                        </div>
                                        <div class="col mb-1 posterButton ms-2 ">
                                            <button style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " type="submit" class="btn  btn-primary">Yaratmaq</button>
                                        </div>
                                    </div>
                                    <!-- Button  Start -->
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  Admin Project  Create  End -->

            </div>
        </div>
    </div>
    <!-- / Content -->
</div>



@section Scripts{

}
