@{
    ViewData["Title"] = "Index";
}
@model DashboardViewModel
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        @*Left*@
        <div class="col-lg-7 col-md-6 col-sm-11  mb-4">
            <canvas class="card p-3" id="myChart"></canvas>

        </div>

        @*Right*@
        <div class="row col-lg-5 col-md-10 col-sm-11 mb-4">
            @*UmumiContact*@
            <div class="col-lg-6 col-md-5 col-sm-6  col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:;" class="fa-solid fa-phone"></i>
                            </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Ümümi Əlaqə sayı</span>
                        <h3 style="color: forestgreen;" class="card-title mb-2">@Model.ContactUsCount</h3>
                    </div>
                </div>
            </div>
            @*UmumiCareer*@
            <div class="col-lg-6 col-md-5 col-sm-6  col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:cadetblue;" class="fa-solid fa-address-card"></i>
                            </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Ümümi Karyera sayı</span>
                        <h3 style="color: forestgreen;" class="card-title mb-2">@Model.CareerCount</h3>
                    </div>
                </div>
            </div>
         @*   <div class="col-lg-6 col-md-5 col-sm-6  col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:forestgreen;" class="fa-solid fa-money-bill-1-wave"></i>
                            </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Ümümi qazanc</span>
                        <h3 style="color: forestgreen;" class="card-title mb-2">0 ₼</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-6  col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:forestgreen;" class="fa-solid fa-money-bill-1-wave"></i>
                            </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Ümümi qazanc</span>
                        <h3 style="color: forestgreen;" class="card-title mb-2">0 ₼</h3>
                    </div>
                </div>
            </div>*@
        </div>

    </div>
   @* <div class="row">
        <div class="col-lg-4 col-md-6 col-6  mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <i style="font-size:30px; color:forestgreen;" class="fa-solid fa-money-bill-1-wave"></i>
                        </div>

                    </div>
                    <span class="fw-semibold d-block mb-1">Ümümi qazanc</span>
                    <h3 style="color: forestgreen;" class="card-title mb-2">0 ₼</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <i style="font-size:30px; color:#32CD32;" class="fa-solid fa-scroll"></i>
                        </div>

                    </div>
                    <span class="fw-semibold d-block mb-1">Aktiv elan sayı</span>
                    <h3 style="color:#32CD32;" class="card-title mb-2">0</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <i style="font-size:30px; color:yellow;" class="fa-solid fa-scroll"></i>
                        </div>

                    </div>
                    <span class="fw-semibold d-block mb-1">Yeni elan sayı</span>
                    <h3 style="color:yellow;" class="card-title mb-2">0</h3>
                </div>
            </div>
        </div>
    </div>
  *@
</div>
<!-- / Content -->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Yanvar', 'Fevral', 'Mart', 'Aprel', 'May', 'İyun', 'İyul', 'Avqust', 'Sentyabr', 'Oktyabr', 'Noyabr', 'Dekabr'],
                datasets: [{
                    label: '# Əlaqə',
                    data: [@foreach (var item in Model.ContactMonthCount) { @(item + ",")}],
                    borderWidth: 2,
                    fill: false,

                }, {
                    label: '# Karyera',
                    data: [@foreach (var item in Model.CareerMonthCount) { @(item + ",")}],
                    borderWidth: 2,
                    fill: false,
                }
                ],
            },

            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    </script>
}