@{
    ViewData["Title"] = "Create";
}
@model NewsEditViewModel

@{
    DateTime now = DateTime.UtcNow;
}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Xəbər /</span> Redaktə</h4>
        <div class="card">
            <div class="card-body">
                <!-- Admin Project  Create Start -->
                <section style="margin-top: 10px;" id="createPoster">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class=" formBox  col-lg-8 col-md-12 col-sm-12 ">

                                <form class="form-control" asp-action="edit" asp-controller="News" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" value="@Model.News.Id" asp-for="News.Id" />
                                    <!-- Xəbər Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="News.TitleAz" class="form-label">Xəbər adı (Az)*</label>
                                        <input asp-for="News.TitleAz" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="News.TitleAz" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər Name   End -->
                                       <!-- Xəbər Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="News.TitleEn" class="form-label">Xəbər adı (En)*</label>
                                        <input asp-for="News.TitleEn" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="News.TitleEn" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər Name   End -->
                                       <!-- Xəbər Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="News.TitleRu" class="form-label">Xəbər adı (Ru)*</label>
                                        <input asp-for="News.TitleRu" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="News.TitleRu" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər Name   End -->
                                     <!-- InstagramUrl  Start -->
                                    <div class="mb-3 posterTitle">
                                        <label asp-for="News.InstagramUrl" class="form-label">Instagram Url*</label>
                                        <input asp-for="News.InstagramUrl" maxlength="200" type="text" class="form-control">
                                        <span asp-validation-for="News.InstagramUrl" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər Title   End -->
                                    <!-- Xəbər DescribeAz  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="News.TextAz" class="form-label">Xəbər Təsviri (Azərbaycan) *</label>
                                        <textarea asp-for="News.TextAz" maxlength="5000" style="max-height:300px" rows="8" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="News.TextAz" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər DescribeAz   End -->
                                    <!-- Xəbər DescribeEn  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="News.TextEn" class="form-label">Xəbər Təsviri (İngilis) *</label>
                                        <textarea asp-for="News.TextEn" maxlength="5000" style="max-height:300px" rows="8" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="News.TextEn" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər DescribeEn   End -->
                                    <!-- Xəbər DescribeRu  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="News.TextRu" class="form-label">Xəbər Təsviri (Rus) *</label>
                                        <textarea asp-for="News.TextRu" maxlength="5000" style="max-height:300px" rows="8" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="News.TextRu" class="text-danger"></span>
                                    </div>
                                    <!-- Xəbər DescribeRu   End -->

                                     <div id="posterimage-box" class="posterimage-box row mb-3">
                                        <label asp-for="News.ProjectImageFile" class="form-label">Xəbərnin Poster şəkli*</label>
                                        <!-- Şəkil əlavə et -->
                                        <input asp-for="News.ProjectImageFile" id="imagePosterInput" type="file" accept="image/png,  image/webp,  image/jpeg"
                                               class="form-control" multiple="">
                                            @foreach (var image in Model.NewsImages.Where(x => !x.IsDelete && x.IsPoster))
                                            {

                                                @if (Model.NewsImages.FirstOrDefault(x => !x.IsDelete) != null)

                                                {
                                                    <div class="col-3">
                                                        <div style="position:relative;" class="image-box">
                                                            <input type="hidden" value="@image.Id" />
                                                            <img style="width:200px; height:160px;" src="~/uploads/News/@image.Image" />
                                                        </div>
                                                    </div>
                                                }
                                            }
                                      </div>
                                 
                                    <!-- Poster Image  Start -->
                                    <div class="mb-3 posterImages">
                                        <label asp-for="News.ImageFiles" class="form-label">Xəbərnin Şəkilləri*</label>
                                        <!-- Şəkil əlavə et -->
                                        <input asp-for="News.ImageFiles" id="imageInput" type="file" accept="image/png,  image/webp,  image/jpeg"
                                               class="form-control" multiple="">
                                        <div>
                                            <p id="imageErrorMessage" class="fw-bold "></p>
                                            <span asp-validation-for="News.ImageFiles" class="text-danger"></span>
                                        </div>
                                        <div class="row" id="temperoryImages"></div>
                                    </div>
                                    <!-- Poster Image End -->
                                     <div id="poster-image-box" class="poster-image-box row mb-3">
                                        @foreach (var image in Model.NewsImages.Where(x => !x.IsDelete && !x.IsPoster ))
                                        {

                                            @if (Model.NewsImages.FirstOrDefault(x => !x.IsDelete) != null)

                                            {
                                               <div class="col-lg-4 col-md-4 col-sm-5">
                                                    <div style="position:relative; border: 1px dotted #80808078;" class="image-box">
                                                        <input type="hidden" name="News.ProjectImagesIds[]" value="@image.Id" />
                                                        <img style="width:200px; height:160px;     " src="~/uploads/News/@image.Image" />
                                                        <i id="${i}" style="   cursor: pointer; color: red; font-size: 20px; position:absolute; top:10px; right:20px;" onclick="removeFile(${i})" class="fa-solid fa-trash deleteImage"></i>
                                                    </div>
                                               </div>
                                            }
                                        }
                                    </div>
                                    <!-- Button  Start -->
                                    <div class="row d-flex justify-content-end mb-3">
                                        <div class="col mb-1">
                                            <a style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " asp-action="index" asp-controller="News" class="btn  btn-dark">Geri dön</a>
                                        </div>
                                        <div class="col mb-1 posterButton ms-2 ">
                                            <button style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " type="submit" class="btn  btn-primary">Redaktə et</button>
                                        </div>
                                    </div>
                                    <!-- Button  Start -->
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  Admin Project  Create  End -->

            </div>
        </div>
    </div>
    <!-- / Content -->
</div>


<script>
    const p = document.getElementById("imageErrorMessage");
    const fileInput = document.getElementById('imageInput');
    const previewImages = document.getElementById('temperoryImages');
    const selectedFiles = [];
    const dt = new DataTransfer();

    fileInput.onchange = (e) => {
        const files = Array.from(e.target.files);

        if (files.length > 8) {
            p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
        } else {
            if (selectedFiles.length + files.length > 8) {
                p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
            } else {
                files.forEach(file => {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const src = e.target.result;
                        dt.items.add(file);
                        selectedFiles.push({
                            file: file,
                            src: src,
                            degree: 0,
                        });
                        if (selectedFiles.length <= 8) {
                            setImages();
                        }
                    };
                    reader.readAsDataURL(file);
                });
                fileInput.value = null; // Input değerini sıfırla
            }
        }
    };

    const setImages = () => {
        let html = '';

        selectedFiles.forEach((file, i) => {
            if (i < 8) {
                html += `<div class="imageBox">
                                          <p id="${i}" onclick="removeFile(${i})"><i class="fa-solid fa-trash"></i></p>
                                          <img data-image-id="${i}" class="temperorayImage" src="${file.src}" alt="">
                                      </div>`;
            }
        });

        previewImages.innerHTML = html;
        updateInputFiles();
    };

    const updateInputFiles = () => {
        dt.items.clear();
        selectedFiles.forEach(file => {
            dt.items.add(file.file);
        });
        fileInput.files = dt.files;
    };

    const removeFile = (index) => {
        dt.items.remove(index);
        selectedFiles.splice(index, 1);
        setImages();
    };

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    ﻿$(function () {

    $(document).ready(function () {
        $(document).on("click", ".deleteImage", function () {
            $(this).parent().remove();
        })
    })

    })

    let posterInput = document.getElementById("posterInput")
    let posterBox = document.getElementById("poster-image-box")
</script>

<script>

    const imagePosterInput = document.getElementById('imagePosterInput');
const posterImageBox = document.getElementById('posterimage-box');

imagePosterInput.addEventListener('change', function (e) {
  const file = e.target.files[0];
  const reader = new FileReader();

  reader.onload = function (e) {
    const imageBox = posterImageBox.querySelector('.image-box');
    const image = imageBox.querySelector('img');

    image.src = e.target.result;
  };

  if (file) {
    reader.readAsDataURL(file);
  }
});


</script>


@section Scripts{

}

