@{
    ViewData["Title"] = "Create";
}
@model XBServiceCreateDto

@{
    DateTime now = DateTime.UtcNow;
}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Project /</span> Yaratmaq</h4>
        <div class="card">
            <div class="card-body">
                <!-- Admin Project  Create Start -->
                <section style="margin-top: 10px;" id="createPoster">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class=" formBox  col-lg-8 col-md-12 col-sm-12 ">

                                <form class="form-control" asp-action="create" asp-controller="XBService" method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <!-- Layihə Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="NameAz" class="form-label">Layihə adı*</label>
                                        <input asp-for="NameAz" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="NameAz" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- Layihə Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="NameEn" class="form-label">Layihə adı*</label>
                                        <input asp-for="NameEn" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="NameEn" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- Layihə Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="NameRu" class="form-label">Layihə adı*</label>
                                        <input asp-for="NameRu" maxlength="100" type="text" class="form-control">
                                        <span asp-validation-for="NameRu" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə Name   End -->
                                    <!-- Layihə DescribeAz  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="DescribeAz" class="form-label">Layihə Təsviri (Azərbaycan) *</label>
                                        <textarea asp-for="DescribeAz" maxlength="5000" style="max-height:300px" rows="8" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="DescribeAz" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeAz   End -->
                                    <!-- Layihə DescribeEn  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="DescribeEn" class="form-label">Layihə Təsviri (İngilis) *</label>
                                        <textarea asp-for="DescribeEn" maxlength="5000" style="max-height:300px" rows="8" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="DescribeEn" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeEn   End -->
                                    <!-- Layihə DescribeRu  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="DescribeRu" class="form-label">Layihə Təsviri (Rus) *</label>
                                        <textarea asp-for="DescribeRu" maxlength="5000" style="max-height:300px" rows="8" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="DescribeRu" class="text-danger"></span>
                                    </div>
                                    <!-- Layihə DescribeRu   End -->
                             
                                    <!-- Button  Start -->
                                    <div class="row d-flex justify-content-end mb-3">
                                        <div class="col mb-1">
                                            <a style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " asp-action="index" asp-controller="XBService" class="btn  btn-dark">Geri dön</a>
                                        </div>
                                        <div class="col mb-1 posterButton ms-2 ">
                                            <button style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " type="submit" class="btn  btn-primary">Yaratmaq</button>
                                        </div>
                                    </div>
                                    <!-- Button  Start -->
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  Admin Project  Create  End -->

            </div>
        </div>
    </div>
    <!-- / Content -->
</div>


<script>
    const p = document.getElementById("imageErrorMessage");
    const fileInput = document.getElementById('imageInput');
    const previewImages = document.getElementById('temperoryImages');
    const selectedFiles = [];
    const dt = new DataTransfer();

    fileInput.onchange = (e) => {
        const files = Array.from(e.target.files);

        if (files.length > 8) {
            p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
        } else {
            if (selectedFiles.length + files.length > 8) {
                p.innerHTML = "*Maksimum 8 şəkil əlavə edə bilərsiz!";
            } else {
                files.forEach(file => {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const src = e.target.result;
                        dt.items.add(file);
                        selectedFiles.push({
                            file: file,
                            src: src,
                            degree: 0,
                        });
                        if (selectedFiles.length <= 8) {
                            setImages();
                        }
                    };
                    reader.readAsDataURL(file);
                });
                fileInput.value = null; // Input değerini sıfırla
            }
        }
    };

    const setImages = () => {
        let html = '';

        selectedFiles.forEach((file, i) => {
            if (i < 8) {
                html += `<div class="imageBox">
                                      <p id="${i}" onclick="removeFile(${i})"><i class="fa-solid fa-trash"></i></p>
                                      <img data-image-id="${i}" class="temperorayImage" src="${file.src}" alt="">
                                  </div>`;
            }
        });

        previewImages.innerHTML = html;
        updateInputFiles();
    };

    const updateInputFiles = () => {
        dt.items.clear();
        selectedFiles.forEach(file => {
            dt.items.add(file.file);
        });
        fileInput.files = dt.files;
    };

    const removeFile = (index) => {
        dt.items.remove(index);
        selectedFiles.splice(index, 1);
        setImages();
    };

</script>


@section Scripts{

}

