@{

}

<section id="BackgorundImageBox">
    <!-- BackgorundImage -->
    <div class="BackgorundPage">
        <div class="BackImage">
            <img src="~/assets/Images/slide-vaqif.png" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-susa.jpg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-xaribilbul.png" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-projec-yujk-scaled.jpg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/cam.png" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/slide-service3-scaled.jpg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/vaqif-2.jpeg" alt="Resim 1">
        </div>
        <div class="BackImage">
            <img src="~/assets/Images/xaribulbul-2.jpeg" alt="Resim 1">
        </div>
    </div>>
</section>

@*slider*@
<div>
    <script>
        $(document).ready(function () {
            var slideIndex = 0;
            var slides = $(".BackImage");

            function showSlide() {
                slides.eq(slideIndex).fadeIn(1000).siblings().fadeOut(1000);
                slideIndex = (slideIndex + 1) % slides.length;
            }

            showSlide();

            setInterval(showSlide, 4500);
        });
    </script>
</div>
@*slider*@