@model HomeIndexMidProjectViewModel
@{
    var language = _localization.Getkey("Language").Value;

}

<div class="modal fade projectInfoModal  midProjectJsonModal" id="midProject-Test" tabindex="-1" role="dialog"
     aria-labelledby="project-testTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 style="color:#00a7c6;" class="modal-title midProjectModalTitleJs" id="project-testTitle"> </h1>
                <button type="button" class="" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <!-- Older posts -->
                <section class="mt-2 fx-fade-up">
                    <div class="container">
                        <div class="row mt-4 justify-content-center ">
                            <!-- Post -->
                            <!-- Featured image -->
                            <div class="col-md-9 col-sm-11 mb-2 ">
                                <div class="projectInfoSliders" id="projectInfoSliders">
                                    <div class="projectInfoSlide">
                                        <div class="image-container">
                                            <a href="#!">
                                                <img src=""
                                                     class="img-fluid rounded hover-lift-light" alt="">
                                            </a>

                                        </div>
                                    </div>

                                    <a class="info-prev-btn prev-btn" href="#">&lt;</a>
                                    <a class="info-next-btn next-btn" href="#">&gt;</a>
                                </div>
                            </div>
                            <!-- Title -->

                            <div class="col-md-9 mb-2">
                                <h1 class="h5 d-block text-dark text-decoration-none mt-4 midProjectModalTitleJs">
                                </h1>
                            </div>
                            <!-- Read more -->
                            <div class="col-md-9 mb-2">
                                <p class="d-inline-block  mt-2 " id="midProjectTextId">

                                </p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

