@model HomeIndexProjectViewModel
@{
    var language = _localization.Getkey("Language").Value;

}

<!-- Modal Project -->
<div class="modal fade  projectModal projectJsonModal" id="4" tabindex="-1" role="dialog"
     aria-labelledby="project-testTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 style="color:#00a7c6;" class="modal-title projectModalTitleJs" id="project-testTitle">
                </h1>
                <button type="button" class="" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">

                <!-- Older posts -->
                <section class="mt-2 fx-fade-up">
                    <div class="container">
                        <div class="row mt-4 justify-content-center ">
                            <!-- Post -->
                            <!-- Featured image -->
                            <div class="col-md-9 col-sm-11 mb-2 ">
                                <div class="projectSliders" id="projectSliders">

                                    <div class="projectSlide">
                                        <div class="image-container">
                                            <a href="#!">
                                                <img class="img-fluid rounded hover-lift-light" alt="">
                                            </a>
                                            
                                        </div>
                                    </div>

                                    <a class="prev-project-btn prev-btn" href="#">&lt;</a>
                                    <a class="next-project-btn next-btn " href="#">&gt;</a>
                                </div>
                            </div>
                            <!-- Title -->

                            <div class="col-md-9 mb-2">
                                <h1 class="h5 d-block text-dark text-decoration-none mt-4 projectModalTitleJs">
                                </h1>
                            </div>
                            <!-- Read more -->
                            <div class="col-md-9 mb-2">
                                <p class="d-inline-block  mt-2" id="projectTextId">

                                </p>
                            </div>

                            <!-- Shops -->
                            <div class="col-md-9 mb-2 projectShops">
                                <h2 class="mb-3 mt-2">

                                    @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "ModalProjectModalShops" + language)?.Value)
                                </h2>
                                <div class="row" id="projectShopsWeb">
                                    <!-- Web slider -->

                                    <div class="col-lg-3  col-md-7 mb-2 projectShopBoxs">
                                        <!-- Featured image -->
                                        <a href="#!" class="midProjectModalLink">
                                            <img src="" class="img-fluid rounded hover-lift-light" alt="">
                                        </a>
                                        <!-- Title -->
                                        <a href="#!" class="projectBoxTitle d-block  text-decoration-none mt-3 midProjectModalLink">
                                            Adi
                                        </a>
                                    </div>

                                </div>
                                <!-- Mobile Slider -->
                                <div class="owl-carousel owl-carousel-slider owl-theme mobile-owl  p-0 m-0" id="projectShopsMobile">
                                    @*<div class="item me-2">
                                        <a href="#" class="projectBoxTitle d-block  text-decoration-none mt-3">
                                            <img style=" border-radius: 5px;" src="" alt="" width="100% ">
                                        </a>
                                        <a href="#!" class="projectBoxTitle d-block  text-decoration-none mt-3" style="color: #000;"> </a>
                                    </div>*@

                                </div>
                            </div>
                            <!-- Go to previous posts -->
                            <div class="col-md-9 mb-2 text-end">
                                <!-- Go to previous posts -->
                                <a href="#" data-bs-dismiss="modal" aria-label="Close"
                                   class="projectBackBtn btn btn-pastel-primary hover-lift-light text-uppercase-bold-sm mt-4">
                                    <i class="fas fa-chevron-left fa-sm mr-2"></i>
                                    @Html.Raw(Model.Settings.FirstOrDefault(x => x.Key == "ModalBackBtnText" + language)?.Value)
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

